
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/followers">Followers</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/followers" [queryParams]="{page:1, order:'newest'}">Newest Followers</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
        <li class="nav-item" routerLinkActive="activa">
          <a class="nav-link" routerLink="/archive">Archives</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/demo">Demo Page</a>
        </li>
      </ul>
    </div>
  </nav>
